* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// google Noto Sans TC
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

// 饅頭黑體
@font-face {
    font-family: 'Mantou Sans';
    src: url('https://raw.githubusercontent.com/mant0u0/MantouSans/main/Font/MantouSans-Regular.ttf') format('truetype');
}

$primaryGradient: linear-gradient(90deg, #E5793B, #FF4185);
$primaryTheme: #DA7D4A;
$primaryText: #334155;
$secondaryText: #94A3B8;
$bg_1: #FDFCFB;
$bg_2: #F7ECE1;
$--50: #F8FAFC;
$--100: #F1F5F9;
$--200: #E2E8F0;
$--300: #cbd5e1;
$--400: #94a3b8;
$--500: #64748b;
$--600: #475569;
$--700: #334155;
$--800: #1e293b;
$--900: #0f172a;
$font: "Noto Sans TC", Inter, sans-serif;

@mixin media($screen) {
    @if $screen==mobile {
        @media(max-width: 576px) {
            @content;
        }
    }

    @if $screen==desktop {
        @media(min-width: 577px) {
            @content;
        }
    }
}

@mixin h1 {
    font-weight: 700;

    @include media(mobile) {
        font-size: 2rem;
    }

    @include media(desktop) {
        font-size: 2.5rem;

    }
}

@mixin h2 {
    font-weight: 700;

    @include media(mobile) {
        font-size: 1.5rem;
    }

    @include media(desktop) {
        font-size: 2rem;
    }
}

@mixin h3 {
    font-weight: 700;

    @include media(mobile) {
        font-size: 1.5rem;
    }

    @include media(desktop) {
        font-size: 1.75rem;
    }
}

@mixin h4 {

    font-size: 1.5rem;
    font-weight: 700;
}

@mixin h5 {
    font-size: 1.25rem;
    font-weight: 700;

}

@mixin h6 {
    font-weight: 700;
    font-size: 1rem;
}

@mixin base_text {
    @include media(mobile) {
        font-size: 1rem;
        font-weight: 500;
    }

    @include media(desktop) {
        font-size: 1.125rem;
        font-weight: 400;
    }
}

@mixin body_text {
    font-size: 1rem;

    @include media(mobile) {
        font-weight: 500;
    }

    @include media(desktop) {
        font-weight: 400;
    }
}

@mixin note {
    font-size: 0.875rem;

    @include media(mobile) {
        font-weight: 500;
    }

    @include media(desktop) {
        font-weight: 400;
    }
}

@mixin big_title {
    @include media(mobile) {
        font-size: 3.25rem;
        font-weight: 500;
    }

    @include media(desktop) {
        font-size: 4rem;
        font-weight: 400;
        font-family: "Mantou Sans", $font;
        color: transparent;
        background: $primaryGradient;
        -webkit-background-clip: text;
    }
}