@import "./_theme";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width:100%;
    font-family: $font;
    color: $primaryText;
    line-height: 1.5;
}

header{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items: center;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
   
}
